*{
    margin: 0;
}

nav{
    display: block;
    position: sticky;
    background: #7059A6;
    width: 100lvw;
    height: 64px;
    margin-bottom: 16px;
}

.nav-bar{
    display: flex;
    flex-direction: row-reverse;
}

#hamburger{
    background: none;
    background-image: url(../resources/hamburger.svg);
    border: none;
    width: 48px;
    height: 32px;
    background-position: center;
    background-size: cover;
    margin-top: 16px;
    margin-right: 16px;
}

.toolbar{
    display: block;
    width: 100lvw;

}
.toolbar-items{
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.toolbar-tabs{
    display: flex;
    background: #A69759;
    padding: 8px;
    width: fit-content;
    border: #7d703a solid 4px;
    border-radius: 32px;
    margin-right: 16px;
    
}

.tab{
    background: none;
    border: none;
    padding: 8px;
    font-size: medium;
}

body{
    background-image: linear-gradient(#7A86B8, #29335c);
    background-repeat: no-repeat;
    background-size: 100lvw, 100lvh;
    min-height: 100lvh;
}

.items{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 32px;
    flex-wrap: wrap;




}

.item:last-child{
    margin-right: auto;
}

.item{
    display: flex;
    vertical-align: bottom;
    margin: 16px;
}

.item .icon{
    width: 128px;
    height: 128px;
    background-image: url(../resources/tomato.webp);
    background-size: cover;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.icon h3{
    text-align: center;
    margin-top: 105px;
    background: #7059A6;
    color: #10183B;
    padding-top: 4px;
    opacity: 80%;
    border-bottom-left-radius: 16px;
}

.macros{
    flex-direction: column;
    width: 128px;
}

.macros .macro{
    background: #A69759;
    color: #7d703a;
    border: #10183B 2px solid;
    padding: 1px;
}
.toggle-switch{
    background: #7059A6;
    border: #10183B 2px solid;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 32px;
    width: 64px;
}