#search-results{
    width: 80lvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#search-results .item{
    height: 144px;
    border: var(--border-style-default);
    border-radius: var(--border-radius-default);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 15px;
    background-color: #dcdcdc;
}

.item, .icon, .label, .tags, .edit, .add{
    border: var(--border-style-default);
    border-radius: var(--border-radius-default);
}

#search-results .item .icon{
    background-image: url("../resources/default.png");
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
    background-size: cover;
    width: 128px;
    height: 128px;

}

#search-results .item .container{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

#search-results .item .label{
    width: 838px;
    height: 60px;
    text-align: left;
}

#search-results .item .tags{
    width: 838px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    margin-top: 7px;
}
#search-results .item .tags .tag{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 4px;
    background-color: #d9d9d9;
    border-radius: var(--border-radius-default);
    padding: 7px;
    background-size: cover;
}


#search-results .item .edit{
    width: 60px;
    height: 60px;
    background-image: url("../resources/edit.svg");
    background-size: 32px 32px;
}


#search-results .item .add{
    width: 60px;
    height: 60px;
    background-image: url("../resources/add.svg");
    margin-top: 7px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #dcdcdc;
    width: 40lvw;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius-default);
    margin-top: 32px;
    margin-bottom: 16px;
}
    .search:hover{
        cursor: text;
    }
    .search:has(> .search-button:hover){
        filter: brightness(1);
    }
.search-button{
    background-image: url("../resources/search-icon.svg");
    padding: 16px;
    background-size: 32px;
    margin-left: auto;
    margin-right: 16px;
    filter: brightness(0.5);
}
    .search-button:hover{
        filter: brightness(0.7);
        cursor:pointer;
    }
    .search-button:active{
        filter: brightness(0.4);
        cursor:pointer;
    }
.search-field{
    flex:content;
    font-size: 24px;
    margin-left: 16px;
}
*:focus-visible{
    outline: none;
}