.navbar{
    position: sticky;
    top: 0;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 4;
}

.navbar a{
    height: 32px;
    margin-right: 32px;
    margin-left: 32px;
    font-size: larger;
    background-color: bisque;
    padding-right: 16px;
    padding-left: 16px;
}

.navbar .home-button{
    margin-right: auto;
}

.navbar .hamburger{
    margin-left: auto;
}